html,body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #E9E9E9 url(../images/bg01.png) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: 400;
	color: #969696;
}

h1,h2,h3 {
	margin: 500;
	padding: 0;
	font-weight: 900;
}

p,ol,ul {
	margin-top: 0;
}

ol,ul {
	padding: 0;
	list-style: none;
}

p {
	line-height: 180%;
}

a {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.container {
	margin: 0px auto;
	width: 100%;
	text-align: left;
}

#texto {
	font-family: Georgia, Garamond, "Lucida Sans", Verdana;
	font-size: 1.4em;
	color: "black";
	margin-top: 20px;
	margin-left: 80px;
	margin-right: 80px;
	magin-bottom: -80px;
	text-align: left;
	display: block;
}

#icon {
	margin-top: 20px;
}

.containerlog {
	margin: 0px auto;
	width: 1200px;
}

#three-column #tbox4 td {
	width: 400px;
	text-align: center;
}

table {
	border: 1px solid;
	align: center
}

#tabela {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -180px;
	margin-top: -100px;
	border: 1px solid #000;
	width: 360px;
	height: 200px;
	text-align: center;
}

#searchProduct{
	width: 450px;
	height: 20px;
	display: inline-block;
}	
	
.image {
	display: inline-block;
}

.image img {
	display: block;
	width: 100%;
}

.image-full {
	display: block;
	width: 100%;
	margin: 0 0 0 0;
}

.image-left {
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered {
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img {
	margin: 0 auto;
	width: auto;
}

.categoryNameList{
	width: 170px;
	display: inline-block;
}

.subcategoryNameList{
	width: 170px;
	display: inline-block;
}

.button {
	display: inline-block;
	margin-top: 2em;
	background: #00A4D9;
	border-radius: 5px;
	line-height: 4em;
	padding: 0 3em;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	letter-spacing: 0.25em;
	text-decoration: none;
	text-transform: uppercase;
	outline: 0;
	white-space: nowrap;
	font-weight: 900;
	font-size: 1em !important;
	color: #fff !important;
}

.button:hover {
	background: #18ACD9;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.button:active {
	background: #0091BD;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.button-big {
	line-height: 4em;
	padding: 0 3em;
	font-size: 1.1em !important;
}

#wrapper {
	position: relative;
	padding: 0em 0em 5em 0em;
	background: #FFF;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

#header {
	height: 10em;
}

#logo {
	margin: 4em auto 4em auto;
	text-transform: uppercase;
}

#logo h1 {
	font-size: 2.2em;
	color: #292929;
}

#logo h1 a {
	margin-left: 0.50em;
	text-decoration: none;
	font-size: 1.5em;
	color: #292929;
}

#logo span {
	color: #01A9DC;
}

#logo .icon-size {
	padding-top: 0.20em;
	font-size: 2em !important;
	color: #01A9DC;
}

#logo p {
	margin: 0;
	padding: 0 0 0 5em;
	letter-spacing: 0.10em;
	font-size: 0.90em;
	color: #828282;
}

#logo p a {
	text-decoration: none;
	color: #828282;
}

#menu {
	background: #292929;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0em 2em;
	line-height: 80px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	color: #838383;
}

#menu .current_page_item a {
	background: #01A9DC;
	color: #FFF;
}

#menu a:hover {
	text-decoration: none;
	color: #FFF;
}

#page {
	overflow: hidden;
	width: 1100px;
	padding: 0em 50px 5em 50px;
	background: #F4F4F4;
	color: #191919;
}

#page .arrow-down {
	border-top-color: #FFF !important;
}

#page .title {
	padding: 3em 0em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
}

#page .title h2 {
	font-size: 2em;
	color: #474747;
}

#page .title .byline {
	padding-top: 0.50em;
	font-size: 0.90em;
	color: #858585;
}

#page #box1 {
	float: left;
	width: 500px;
}

#page #box2 {
	float: right;
	width: 500px;
}

#page a {
	color: #01A9DC;
}

.subcategoryList {
	display: block;
}

.hidden {
	display: none;
}

#copyright {
	padding: 6em 0em;
	font-size: 0.70em;
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFF;
	color: #6A6A6A;
	margin-top: 0px;
}

#copyright a {
	color: #747474;
}

.arrow-down {
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: 40px solid #FFF;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	display: block;
	text-align: center;
}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/
#three-column {
	overflow: hidden;
	text-align: justify;
	color: #525252;
}

#three-column h2 {
	margin: 1em 0em;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 700;
	color: #454445;
}

#three-column .icon {
	position: relative;
	display: block;
	margin: 0px auto 0.80em auto;
	line-height: 150px;
	font-size: 4em;
	background: #FFF;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	border: 6px solid #00A4D9;
	text-align: center;
	color: #00A4D9;
}

#three-column #tbox1,#three-column #tbox2,#three-column #tbox3 {
	float: left;
	width: 320px;
	padding: 80px 80px 80px 80px;
}

#three-column #tbox4 {
	float: left;
	width: 1000px;
	padding: 80px 100px 5px 100px;
}

#three-column .title {
	letter-spacing: 0.10em;
	text-align: center;
	text-transform: uppercase;
}

#three-column .title h1 {
	font-size: 1.60em;
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
	color: #00A4D9;
}

#three-column .title .byline {
	padding-top: 0.50em;
	font-size: 0.90em;
	color: #858585;
}

#three-column .arrow-down {
	border-top-color: #292929;
}

#inputz {
	width: 500px
}

#image {
	height: 50px;
	width: 50px;
}

.jtable-input-field-container{
	float:left;
	width: 250px;
}

.jtable-input-field-container:nth-child(1n) {
	clear:left;
}

.jtable-input-field-container:nth-child(2n) {
	clear: none;
}

.longDescriptionContainer{
	float:none;
}

#Edit-longDescription{
	width: 490px;
	height: 80px;
}

.nameContainer + .activeContainer{
	float:none;
}

.priceFromContainer{
	float: none;
}

.priceForContainer{
	float: none;
}

.optionNameContainer{
	float: none;
}

.optionValueContainer{
	float: none;
}

.stockContainer{
	float: none;
}

.itemIdContainer{
	display:none;
}

.formError{
	margin-left:-150px;
}