@CHARSET "UTF-8";

.wrongField { 
	border: solid 1px #ff7f7f;
	border-raidus: 10px;	
}

.error_message {
	color: #ff7f7f;
}

/* input:invalid { */
/*   border: 1px solid red; */
/* } */

/* input:valid { */
/*   border: 1px solid green; */
/* } */