<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

	<hibernate-configuration>
	   <session-factory>
	   		<!-- Configuracao do Hibernate -->
		   <property name="current_session_context_class">thread</property>
		   <property name="hibernate.show_sql">true</property>
		   <property name="hibernate.hbm2ddl.auto">create</property>
		
		   <!-- Dados de Configuracao do Usuario -->
<!-- 		   Oracle -->
<!-- 		   <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property> -->
<!-- 		   <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property> -->
<!-- 		   <property name="hibernate.connection.username">ESTAGIOX</property> -->
<!-- 		   <property name="hibernate.connection.password">ESTAGIOX</property> -->
<!-- 		   <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property> -->
		   
<!-- 		   MySQL -->
<!-- 		   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!-- 		   <property name="hibernate.connection.url">jdbc:mysql://localhost/academic</property> -->
<!-- 		   <property name="hibernate.connection.username">root</property> -->
<!-- 		   <property name="hibernate.connection.password"></property> -->
<!-- 		   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->

<!-- H2 -->
		   <property name="hibernate.connection.driver_class">org.h2.Driver</property>
		   <property name="hibernate.hbm2ddl.auto">create</property>
		   <property name="hibernate.connection.url">jdbc:h2:mem</property>
		   <property name="hibernate.connection.username">sa</property>
		   <property name="hibernate.connection.password"></property>
		   <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

		
		   <!-- Dominios que serao mapeados -->
		   <mapping class="domain.Item" />
		   <mapping class="domain.Product" />
		   <mapping class="domain.Category" />
		   <mapping class="domain.Subcategory" />
		   <mapping class="domain.Image" />

	</session-factory>
</hibernate-configuration>